

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px; 
}

ul {
    list-style-type: none; 
    display: flex; 
    width: 100%;
    justify-content: space-between;
}
li{
    font-size: 20px;
    font-weight: bolder;
}

li.clicked {
    color: aqua; 
}
